<h1><%= t "views.purchase_orders.index.title" %></h1>
<%= button_to t('views.purchase_orders.links.new'), new_purchase_order_path, method: 'get' %>
<table>
  <thead>
    <tr>
      <th><%= PurchaseOrder.human_attribute_name(:id) %></th>
      <th><%= PurchaseOrder.human_attribute_name(:gross_revenue) %></th>
      <th><%= PurchaseOrder.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <% @purchase_orders.each do |purchase_order| %>
    <tr>
      <td><%= purchase_order.id  %></td>
      <td><%= purchase_order.gross_revenue.to_s %></td>
      <td><%= l purchase_order.created_at,  format: :short   %></td>
      <td><%= link_to t("views.purchase_orders.links.show"), purchase_order %></td>
    </tr>
  <% end %>
</table>

